global
	log /dev/log	local0
	log /dev/log	local1 notice
#	chroot /var/lib/haproxy
#	user haproxy
#	group haproxy

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

#frontend web
#    bind *:80
#    mode http
#    default_backend web_nodes

frontend unsecured_web
    bind *:80
    mode http
    redirect scheme https code 301 if !{ ssl_fc }

frontend web
    bind *:443 ssl crt /opt/haproxy/ssl/errbody.com.pem
    mode http
    default_backend web_nodes

backend web_nodes
    timeout server 5m
    mode http
    balance roundrobin

    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    http-response add-header Access-Control-Allow-Origin *

    {% for web_node in web_nodes %}
    server {{ web_node.name }} {{ web_node.hostname }}:{{ web_node.port }} check
    {% endfor %}
