{% set num_webs = 2 %}
{% set num_workers = 2 %}
[Unit]
Description=Docker Registry
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0

Environment="VERSION={{ version }}" "STATICFILES_VERSION={{ staticfiles_version }}"
ExecStartPre=-/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml stop
ExecStartPre=-/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml rm -f
ExecStartPre=/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml up -d postgres redis celery tor
ExecStartPre=/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml run worker ./manage.py migrate --noinput

ExecStart=/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml up haproxy web worker

ExecStartPre=/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml scale web={{ num_webs }}
ExecStartPost=/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml scale worker={{ num_workers }}

ExecStop=/usr/local/bin/docker-compose --verbose -p errbody -f /opt/errbody/common.yml -f /opt/errbody/production.yml stop

[Install]
WantedBy=multi-user.target
