POSTGRES_PASSWORD=f3eYUBU7WeST8xeTAtrA7EVujaDRe6hu
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_DB=errbody
POSTGRES_PASSWORD=f3eYUBU7WeST8xeTAtrA7EVujaDRe6hu
PGPASSWORD=f3eYUBU7WeST8xeTAtrA7EVujaDRe6hu

REDIS_PASSWORD=PhuWrawR8speWehaNuVaBruZeReKUSuy
REDIS_HOST=redis
REDIS_PORT=6379

TOR_PASSWORD=speWehaNuVaBruZeReKUSuyPhuWrawR8

STATICFILES_VERSION={{ staticfiles_version }}
VERSION={{ version }}